ENVIRONMENT = 'DEV'


DATABASE_URL = 'sqlite+aiosqlite:///./sql_app.db'
# DATABASE_URL = 'postgresql+asyncpg://user:password@localhost/dbname'  # Example for PostgreSQL
# DATABASE_URL = 'mysql+aiomysql://user:password@localhost/dbname'  # Example for MySQL
# DATABASE_URL = 'mssql+pyodbc://user:password@localhost/dbname?driver=ODBC+Driver+17+for+SQL+Server'  # Example for SQL Server
# DATABASE_URL = 'oracle+oracledb://user:password@localhost/dbname'  # Example for Oracle
# DATABASE_URL = 'cockroachdb+asyncpg://user:password@localhost/dbname'  # Example for CockroachDB
# DATABASE_URL = 'snowflake://user:password@account/dbname/schema?warehouse=warehouse'  # Example for Snowflake
# DATABASE_URL = 'bigquery://project/dataset'  # Example for BigQuery
# DATABASE_URL = 'redshift+asyncpg://user:password@localhost/dbname'  # Example for Redshift
# DATABASE_URL = 'sap+pyodbc://user:password@localhost/dbname'  # Example for SAP HANA
# DATABASE_URL = 'firebird+fdb://user:password@localhost/dbname'  # Example for Firebird
# DATABASE_URL = 'sybase+pyodbc://user:password@localhost/dbname'  # Example for Sybase
# DATABASE_URL = 'informix+informixdb://user:password@localhost/dbname'  # Example for Informix
# DATABASE_URL = 'teradata+teradatasql://user:password@localhost/dbname'  # Example for Teradata
# DATABASE_URL = 'vertica+vertica_python://user:password@localhost/dbname'  # Example for Vertica
# DATABASE_URL = 'exasol+pyodbc://user:password@localhost/dbname'  # Example for Exasol
# DATABASE_URL = 'presto://user@localhost:8080/hive/default'  # Example for Presto
# DATABASE_URL = 'trino://user@localhost:8080/hive/default'  # Example for Trino




LDAP_URI = 'ldap://localhost:389'
LDAP_BIND_DN_TEMPLATE = 'uid={username},ou=users,dc=example,dc=com'

